<nav class="navbar navbar-expand-lg navbar-dark bg-verebely fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="~/Home" target="_blank">
            <img src="~/Content/imgs/verebely_logo.png" width="30" height="30" class="d-inline-block align-text-top">
            SocksRental
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @Html.ActionLink("Zoknik", "Zoknik", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Kölcsönzők", "Kolcsonzok", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Rólunk", "Rolunk", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
