body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-verebely {
    background-color: #295fa6;
}

nav li a {
    font-weight: bold !important;
    color: #f2b705 !important;
}

nav li a:hover {
    color: #f23545 !important;
}

.list-group-item-verebely {
    color: #f2b705;
    background-color: #295fa6;
}

.list-group-item-verebely.list-group-item-action:hover,
.list-group-item-verebely.list-group-item-action:focus {
    color: white;
    background-color: #295fa6;
    border-color: #f23545;
    border: 2px solid;
}

.fooldal {
    background-image: url("imgs/background.jpg");
    text-align: center;
    height: 600px;
    padding-top: 250px;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid red;
}

.field-validation-error {
    color: red;
}
